<div id="progress-indicator" class="progress-0">
  <div class="curtain">
    <div class="label">
      <span class="spacer">Ole Schiesser</span>
      <div class="hide">
        <a class="tk-museo-sans start" href="#">Ole Schiesser</a>
      </div>
    </div>
  </div>
</div>

<div id="canvas">
  <div id="minimap">
    <div class="background">
    </div>
    <div class="pages">
    </div>
  </div>
</div>